---
---

<section>
  <p class="mb-4">
    My journey began over a decade ago in the oil and gas industry, where I honed my engineering skills and tackled complex technical challenges. I  implemented automation software, conducted in-depth data analysis, oversaw project management, and cultivated strong relationships with stakeholders.
  </p>
  <p class="mb-4">
    However, my passion for problem-solving and innovation led me to explore new horizons. I realized that the tech industry offered the perfect platform to apply my diverse skill set and push my boundaries even further.
  </p>

  <p class="mb-4">
    In my personal life, I've always sought out challenges. As a dedicated long-distance runner, I understand the value of perseverance and continuous improvement. Completing my first marathon this year was a testament to my commitment to growth and self-improvement.
  </p>

  <p class="mb-4">
    Now, I'm eager to transition into the tech sector, combining my 10+ years of engineering experience with my love for creative solutions and collaborative teamwork. My goal is to make a meaningful impact in this dynamic field by contributing my problem-solving mindset and engineering expertise.
  </p>
