---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import { Button } from '@/components/ui/button';
import { Image } from 'astro:assets';
import myImage from '../../public/diego_.png'
import IconList  from '../components/IconList.jsx'
import Socials from '../components/Socials.astro'
import Now from '@/components/Now.jsx';
import RecentProjects from '@/components/RecentProjects.jsx'
import MouseAnimation from '@/components/MouseAnimation.astro'
import { PaperPlaneIcon } from '@radix-ui/react-icons';


---
<script>
  import { animate, scroll, timeline } from "motion"

  scroll(animate(
  ".recent-projects",
  { opacity: [0.1,1] },
  { duration: 4,
    opacity: { duration: 4 },
    easing: ["ease-in", "ease-out"]
  }
))
  animate(".mouse_scroll", { scale: 1.3 })

  scroll(animate(
    ".mouse_scroll",
    { opacity: [1,0] },
    { duration: 4,
      opacity: { duration: 4 },
      easing: ["ease-in", "ease-out"]
    }
  ))



  const sequence = [
    [".hero", { opacity: [0, 1]  }, { duration: 0.5, opacity: {duration: 0.1}, easing: ["ease-in"] }],
    [".hero", { y: ["20%", "0%"] }, { duration: 0.5 }],

    [".utils .tech", { opacity: [0, 1]  }, { duration: 0.5, opacity: {duration: 0.1}, easing: ["ease-in"] }],
    [".utils .tech", { x: ["20%", "0%"] }, { at: "+0.3" }],

    [".utils .socials .github-icon", { opacity: [0, 1]  }, { duration: 0.5, opacity: {duration: 0.1}, easing: ["ease-in"] }],
    [".utils .socials .github-icon", { x: ["20%", "0%"] },  { at: "+0.1"}],

    [".utils .socials .linkedin-icon", { opacity: [0, 1]  }, { duration: 0.5, opacity: {duration: 0.1}, easing: ["ease-in"] }],
    [".utils .socials .linkedin-icon", { x: ["20%", "0%"] }, { at: "+0.1"}],

    [".utils .socials .twitter-icon", { opacity: [0, 1]  }, { duration: 0.5, opacity: {duration: 0.1}, easing: ["ease-in"] }],
    [".utils .socials .twitter-icon", { x: ["20%", "0%"] },  { at: "+0.1"}],

    [".utils .now", { opacity: [0, 1]  }, { duration: 0.5, opacity: {duration: 0.1}, easing: ["ease-in"] }],
    [".utils .now", { x: ["20%", "0%"] }, { at: "+0.3"}],

    [".recent-projects", { opacity: [0, 0.1]  }, { duration: 1, opacity: {duration: 0.5}, easing: ["ease-in"] }],
    [".mouse_scroll", { opacity: [0, 1]  }, { duration: 1, opacity: {duration: 0.05}, easing: ["ease-in"] }],
  ]

  timeline(sequence, {
  defaultOptions: { ease: "ease-in-out" },
})

</script>

<Layout>
  <div class="main flex flex-col gap-4 mb-20">
    <div class="container flex flex-col lg:flex-row lg:justify-around gap-4">
      <div class="hero w-full lg:py-20 lg:pt-10 lg:px-20 flex bg-card rounded-xl text-card-foreground shadow-lg border border-darkReaderBorder hover:border-greenish">
        <div class="land-intro flex flex-col text-center lg:text-left">
          <div class="fullstack-header mb-5">
            <h1 class="text-2xl lg:text-7xl font-extrabold">Full Stack Developer</h1>
          </div>
          <div class="fullstack-content flex flex-row justify-between gap-8">
            <div class="fullstack-content-image hidden lg:flex ">
              <div class="land-image">
                <Image src={myImage} alt="diego_profile_img" width="1000" class="rounded-lg shadow"/>
              </div>
            </div>
            <div class="fullstack-content-text flex flex-col justify-between items-center">
              <div class="fullstack-content-description">
                <p class="lg:text-3xl mb-5">I'm a full-stack developer based in London who is addicted to solving problems and learning new things</p>
              </div>
              <div class="fullstack-content-button mb-5">
                <Button className="lg:text-xl font-bold lg:py-7 lg flex justify-around gap-2">
                  <span>Send my a message</span>
                  <PaperPlaneIcon  />
                </Button>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="utils flex flex-col gap-4 lg:justify-between ">
        <div class="tech lg:h-1/3 bg-card rounded-xl text-card-foreground box-border flex flex-col justify-center items-center text-2xl lg:text-2xl w-full font-extrabold shadow-lg border border-darkReaderBorder hover:border-greenish">
          Tech Stack
          <IconList client:only/>
        </div>
        <div class="socials lg:h-1/3 flex flex-col justify-center items-center">
          <Socials/>
        </div>
        <div class="now lg:h-1/3 bg-card rounded-xl text-card-foreground box-border flex justify-between shadow-lg border border-darkReaderBorder hover:border-greenish">
          <Now client:load/>
        </div>
      </div>
    </div>
    <MouseAnimation />
    <RecentProjects client:load/>
  </div>
</Layout>
