<footer>
  <p text-muted-foreground>
    @2023 Diego Ramos. All rights reserved
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
  }
</style>
