---
import { Image } from "astro:assets";
import btfImage from "../../public/btf.png"
---

<footer>
  <div class="flex justify-center items-center">
    <div class="flex-grow"></div>
      <p class="text-muted-foreground mr-auto">
        @2023 Diego Ramos. All rights reserved
      </p>
      <div class="flex-grow"></div>
    <Image src={btfImage} alt="back to the future delorean image" width="100" class="ml-auto"/>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
  }
</style>
