---
import { Button } from '@/components/ui/button';
---

<div class="message-container box-border m-0 flex w-full flex-col items-center gap-4">
  <div class="message-text text-2xl lg:text-2xl font-extrabold items-center justify-center text-center">
    Interested in working together?
  </div>
  <div class="message-button flex items-center justify-center text-center">
    <Button className="lg:text-xl font-bold lg:py-7">
      Send me a message
    </Button>
  </div>
</div>
