---
import { Button } from '@/components/ui/button';
---

<div class="message-container box-border m-0 flex w-full flex-col lg:flex-row items-center">
  <div class="message-text text-2xl lg:text-4xl lg:w-1/2 font-extrabold items-center justify-center text-center">
    Interested in working together?
  </div>
  <div class="message-button flex lg:w-1/2 items-center justify-center text-center  my-8">
    <Button className="lg:text-2xl font-bold lg:py-7">
      Send me a message
    </Button>
  </div>
</div>
