---
import { Button } from '@/components/ui/button';
---

<section class="message-container box-border m-0 flex justify-around">
  <div class="message-text text-4xl font-extrabold">
    Intered in working together?
  </div>
  <div class="message-button">
    <Button className="lg:text-2xl font-bold lg:py-7">
      Send me a message
    </Button>
  </div>
</section>
