---

---
<div class="w-full">
  <div class="now-text">
    <h2 class="text-3xl">
      Now
    </h2>
    <a href="https://sive.rs/nowff" target="_blank">
      <h6 class="text-xs text-grayMuted cursor-pointer">what's that?</h6>
    </a>
  </div>
</div>
