---
import { Link } from 'astro-link'
---

<div class="flex flex-col w-full lg:justify-around items-center justify-center text-center gap-2 ">
    <div class="github-icon transform hover:scale-110 transition-transform hover:text-greenish bg-card rounded-xl text-card-foreground w-full shadow-lg border border-gray-800  hover:border-greenish lg:py-2">
      <Link
        href="https://github.com/diegorramos84"
        title="Github"
        externalInNewTab={true}
        class="social-icon"
      >
        <div class="flex items-center justify-center gap-2">
          <i class="devicon-github-original text-2xl lg:text-3xl"></i>
          <span class="lg:text-2xl">GitHub</span>
        </div>
      </Link>
    </div>
    <div class="linkedin-icon transform hover:scale-110 transition-transform hover:text-greenish bg-card rounded-xl text-card-foreground w-full shadow-lg border border-gray-800  hover:border-greenish lg:py-2">
      <Link
        href="www.linkedin.com/in/diegorramos84"
        title="Linkedin"
        externalInNewTab={true}
        class="social-icon"
      >
      <div class="flex items-center justify-center gap-2">
        <i class="devicon-linkedin-plain text-2xl lg:text-3xl"></i>
        <span class="lg:text-2xl">LinkedIn</span>
      </div>
      </Link>

    </div>
    <div class="twitter-icon transform hover:scale-110 transition-transform hover:text-greenish bg-card rounded-xl text-card-foreground w-full shadow-lg border border-gray-800  hover:border-greenish lg:py-2">
      <Link
        href="https://twitter.com/DIERRamos84"
        title="Twitter"
        externalInNewTab={true}
        class="social-icon"
      >
      <div class="flex items-center justify-center gap-2">
        <i class="devicon-twitter-original text-2xl lg:text-3xl"></i>
        <span class="lg:text-2xl">Twitter</span>
      </div>
      </Link>
    </div>
</div>
